

<nav class="navbar navbar-expand-lg ">
  <a style="margin-left: 20px" class="navbar-brand" routerLink=""><b>Spardha</b></a>
  <span class="flex" style="flex-grow: 1"></span>
  <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="margin-right: 10px; text-align: center">
      <i class="material-icons">
        menu
      </i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/home"><b>Home</b><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/captain-list"><b>List</b></a>
      </li>
      <span style="margin-left: 200%"></span>
      <div class="right" style="text-align: right; justify-content: right; display: flex">
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link">
            <app-login></app-login>
          </a>
        </li>
        <li class="nav-item" *ngIf="login">
          <a class="nav-link" (click)="logout()" href="/admin/login"><b>Logout</b></a>
        </li>
      </div>
    </ul>
  </div>
</nav>

