<div id="color">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; color: #18253F">
      <div class="col-sm-8" >
        <div style="text-align: center;margin-top: 80px;">
          <b><em>“Sports not only build the character. They also reveal it”.</em></b>
        </div>
        <p>
          The significance of sports in a student’s life has best embodied in the quote
          mentioned above and the best way to enjoy it is by participating in it when
          opportunity arrives. Such is the importance of sports that even the best of
          institutions promote the participation of students in it and so does our college,
          KIET Group of Institutions.
        </p>
        <p>
          The first step of the threefold sports celebration for the entire students of KIET
          Group of Institutions i.e. Annual Sports Fest, 2018 - “SPARDHA” is scheduled
          from 22 th September, 2018 to 30 th September, 2018.
        </p>
        <div style="text-align: right">
          <div style="flex-basis: 0">
            <p>Dr Rajesh Kumar Mishra</p>
            <p style="margin-right: 150px">Dean-SW</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 4.15%; color: #6C2424; text-align: center">n</div>
</div>
