<app-admin-header></app-admin-header>
<div class="full">
  <div class="container" style="text-align: center">
    <div style="text-align: center; margin-top: 5%">
      <h3>Games</h3>
    </div>
    <div class="card" style="text-align: center; margin-top: 50px" *ngFor="let captain of collections; let i = index;">
      <div class="card-header" style="background-color: #906678">
        <h4 style="color: #003366"><b>Team {{ i+1}}</b></h4>
      </div>
      <div class="card-body" style="background-color: #B58096; color: white">
        <div class="row">
          <div class="table-responsive">
          <table class="table">
            <thead>
            <tr style="color: #003366">
              <th scope="col"><b>#</b></th>
              <th scope="col"><b>Name</b></th>
              <th scope="col"><b>Branch</b></th>
              <th scope="col"><b>Library Id</b></th>
              <th scope="col"><b>Year</b></th>
              <th scope="col"><b>Contact</b></th>
              <th scope="col"><b>Status</b></th>
              <th scope="col"><b>Role</b></th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>1</td>
              <td>{{captain.name}}</td>
              <td>{{captain.branch}}</td>
              <td>{{captain.libId}}</td>
              <td>{{captain.year}}</td>
              <td>{{captain.phone}}</td>
              <th scope="col"><b>{{status[i]}}</b></th>
              <td>{{captain.role}}</td>
            </tr>
            <tr *ngFor="let player of captain.team; let j = index">
              <td>{{j+2}}</td>
              <td>{{player.name}}</td>
              <td>{{player.branch}}</td>
              <td>{{player.libId}}</td>
              <td>{{player.year}}</td>
              <td></td>
              <td>{{player.role}}</td>
            </tr>


            </tbody>
          </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="margin-top: 20px; color: white">
    n
  </div>
</div>
