<app-header></app-header>
<div class="image">
  <div class="container">
    <!--<div id="header">-->
      <!--<p>SPORTS EVENT</p>-->
    <!--</div>-->
    <div class="row">
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/team">
              <img class="card-img-top" src="../../assets/images/cricket.jpg" alt="Card image cap">
              <div class="centered">Cricket</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/team">
              <img class="card-img-top" src="../../assets/images/football.jpg" alt="Card image cap">
              <div class="centered">Foot Ball</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/tt.jpeg" alt="Card image cap">
              <div class="centered">Table Tennis</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/team">
              <img class="card-img-top" src="../../assets/images/volleyball.jpg" alt="Card image cap">
              <div class="centered">Volley Ball</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/team">
              <img class="card-img-top" src="../../assets/images/basketball-hd.jpg" alt="Card image cap">
              <div class="centered">Basket Ball</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/chess.jpg" alt="Card image cap">
              <div class="centered">Chess</div>

            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/carom.jpg" alt="Card image cap">
              <div class="centered">Carrom</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/pool.jpg" alt="Card image cap">
              <div class="centered">Pool Game</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/lawn.jpg" alt="Card image cap">
              <div class="centered">Lawn Tennis</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/race.jpg" alt="Card image cap">
              <div class="centered">Athletics</div>
            </a>
          </div>
        </div>
      </div>
      <div class="data-wrap">
        <div class="wrap">
          <div class="card">
            <a routerLink="/type/individual">
              <img class="card-img-top" src="../../assets/images/badmin.jpg" alt="Card image cap">
              <div class="centered">Badminton</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span style="margin: 100px"></span>
</div>
