<app-header></app-header>

<div style="text-align: center; margin-top: 10px">
  <h4>Your registered team</h4>
</div>
<div class="container">
  <div class="row">
    <div class="table-responsive">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Captain Name</th>
        <th scope="col">Game</th>
        <th scope="col">Team Member</th>
        <th scope="col">Amount</th>
        <th scope="col">Check</th>
        <!--<th scope="col"><button (click)="refreshButton()" class="btn btn-danger">Refresh</button></th>-->
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let name of names; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{name.captain.name}}</td>
        <td>{{name.captain.game}}</td>
        <td>{{name.captain.team.length+1}}</td>

        <td *ngIf="name.captain.type === 'team'"></td>
        <td *ngIf="name.status === 'TXN_FAILURE' && name.captain.type === 'individual'">UNPAID</td>
        <td *ngIf="name.status === 'PENDING' && name.captain.type === 'individual'">PENDING</td>
        <td *ngIf="name.status === 'TXN_SUCCESS' && name.amount >= 68 && name.captain.type === 'individual'">PAID</td>
        <td *ngIf="name.status === 'TXN_SUCCESS' && name.amount < 68 && name.captain.type === 'individual'">UNPAID</td>

        <td *ngIf="name.captain.type === 'team'">Not Required</td>
        <td *ngIf="name.status === 'TXN_FAILURE' && name.captain.type === 'individual'"><a  [routerLink]="['/payment', name.captain._id]">Pay Again</a></td>
        <td *ngIf="name.status === 'PENDING' && name.captain.type === 'individual'"><a (click)="refreshButton()" routerLink="#">Refresh</a></td>
        <td *ngIf="name.status === 'TXN_SUCCESS' && name.amount >= 68 && name.captain.type === 'individual'"></td>
        <td *ngIf="name.status === 'TXN_SUCCESS' && name.amount < 68 && name.captain.type === 'individual'"><a  [routerLink]="['/payment', name.captain._id]">Pay Again</a></td>

      </tr>
      </tbody>
    </table>
    </div>
  </div>
  <br>
  <br>
  <div><b>Note</b>--> Please Click on Refresh after some time, If the <b>Payment Status</b> is <b>PENDING</b></div>
</div>

