<app-header></app-header>
<div id="full">
  <div id="event-screen">
    <div class="container">
      <div class="row" style="display: flex; justify-content: center; text-align: center">
        <div class="col-sm-6">
          <div class="formal-eve">
            <!--<h3>Team Games</h3>-->
            <a routerLink="team">
              <img src="../../assets/images/team.jpg">
              <div class="centered">Team Game</div>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="formal-eve">
            <!--<h3>Individual Games</h3>-->
            <a routerLink="individual">
              <img src="../../assets/images/badmn.jpg">
              <div class="centered">Individual Game</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span></span>
  </div>
  <div style="margin-top: 24px; color: #ffffff;">n</div>

</div>
