.event-screen{
  display: flex;
  width: 100%;
}

#full{
  /*background-color: #B58096;*/
  background-image: url("../../assets/images/back.jpg");
  /* Full height */
  height: auto;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  height: 500px;
  width: 80%;
}

.formal-eve{
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
}



@media only screen and (min-width : 980px) and (max-width : 990px){
  img{
    height: 500px;
    width: 300px;
  }
}


@media only screen and (min-width : 770px) and (max-width : 979px){
  img{
    height: 500px;
    width: 290px;
  }
}

@media only screen and (min-width : 567px) and (max-width : 769px){
  img{
    height: 400px;
    width: 100%;
  }
}



@media only screen and (min-width : 301px) and (max-width : 566px) {
  img{
    height: 300px;
    width: 100%;
  }
}

