
<app-header></app-header>

<div id="color">
  <div class="container">
    <div class="page-header">
      <div class="filter"></div>
      <div class="content-center">
        <div id="motto">
          <span class="spaceSpan"></span>
          <div class="innerText">
            <img src="../../assets/images/name.gif">
            <!--<p id="help">Spardha '18</p>-->
            <p class="date">22-30<sup>Th</sup> SEPTEMBER</p>
            <p class="date">Annual Sports Fest 2K18</p>
          </div>
          <span class="spaceSpan"></span>
          <div class="wrap">
            <button class="button" disabled  (click)="nextPage()">Registration Closed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <p><b>Copyright © 2018 - Spardha | Design and developed by</b>
      <a href="https://www.linkedin.com/in/rupesh-yadav-977575137/" target="_blank" >
        Rupesh yadav
      </a>
    </p>
  </div>
</div>

